@import '../../index.scss';

$lighten: lighten(
  $color: $green,
  $amount: 10,
);

.link {
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.link.fill {
  background-color: $green;
  color: #fff;
  border: 2px solid $green;

  &:hover {
    background-color: $lighten;
    border: 2px solid $lighten;
  }
}

.link.shell {
  color: $green;
  border: 2px solid $green;

  &:hover {
    color: $lighten;
    border: 2px solid $lighten;
  }
}
